{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<script>

    async function deleteit(e){
        blah = e.parentElement.parentElement.parentElement.id
        const res = await fetch(`/delete?q=${blah}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })

        await location.reload()
    }

    async function add(e){
        blah = e.parentElement.parentElement.parentElement.id
        const res = await fetch(`/propositions?q=${blah}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })

        await location.reload()
    }
</script>

    <div>
        {% for item in results %}
            <div class="card" id="{{ item['_id'] }}">
                <div class="img-wrap">
                    <img src="{{ item['img'] }}" alt="Couverture de {{ item['name'] }}" onerror="this.onerror=null;this.src='{{ url_for('static', filename='img/no-img.png') }}';" />
                </div>
                <div>
                    <h1>{{ item["name"] }}</h1>
                    <h3>de <span>{{ item["author"] }}</span></h3>
                    <p>Dans la bibliothèque :
                        {% if item["gotIt"] %}
                            <span>oui</span>
                        {% else %}
                            <span>non</span>
                        {% endif %}
                    </p>
                    <p>proposition de : <span>{{ item['userFrom'] }}</span></p>
                    <div class="big-btn">
                        <h2 onclick=add(this)>ajouter</h2>
                        <p>|</p>
                        <h2  onclick=deleteit(this)>supprimer</h2>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}